Using Mockaroo (https://mockaroo.com), generate 20 rows of data with the given structure. Save the data in the companies.csv file. Then, create a companies.ipynb notebook, in which create a DataFrame, based on the data contained in the CSV file. Display the contents of the DataFrame. Calculate and display:

- the total number of men working in companies;
- average number of women working in companies

In [5]:
import pandas as pd

companies = pd.read_csv('companies.csv')
companies

       Company            Department  #Men  #Women
0     Dabshots           Engineering    54      89
1       Quamba              Services    73      43
2     Buzzster               Support    99      38
3        Vidoo               Support    18      80
4       Avavee                 Legal    97      45
5        Kimia                 Sales    98      30
6     Kanoodle  Business Development    98      98
7      Feedmix       Human Resources     7      46
8     Fiveclub               Support    75      41
9    Photofeed            Accounting    67      63
10      Yambee              Training    37      76
11    Kanoodle              Training     6      48
12     Dynabox               Support    20      32
13  Thoughtmix                 Sales    20      85
14       Abata              Training    39      53
15    Blogspan               Support     6      59
16        Kare                 Legal    65      52
17      Avamba  Business Development    34      30
18       Npath  Business Development    56      59
19  Photospace               Support    19      62

In [6]:
companies['#Men'].sum()

988

In [7]:
companies['#Women'].mean()

56.45