# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [264]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [265]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [266]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [267]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [268]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [269]:
employees.append('Adam')
employees.append('Ewa')
ds = pd.Series(data=employees)
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7       Adam
8        Ewa
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [270]:
components = ['Myszka', 'Klawiatura', 'Monitor', 'Karta graficzna', 'Głośnik']
ds = pd.Series(data=components)
ds

0             Myszka
1         Klawiatura
2            Monitor
3    Karta graficzna
4            Głośnik
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [271]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [272]:
tools_in_stock.update({'hoe':23, 'axe':56})
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
hoe            23
axe            56
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [273]:
tools.sum()

137

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

### Tasks

Calculate the average number of tools in stock.

In [274]:
tools.mean()

19.571428571428573

Generate descriptive statistics for the tools in stock.

In [275]:
tools.describe()

count     7.000000
mean     19.571429
std      17.718701
min       4.000000
25%       8.000000
50%      15.000000
75%      23.000000
max      56.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [276]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [277]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [278]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

In [279]:
restaurant = {'Monday':23, 'Tuesday':8, 'Wednesday':20, 'Thursday':38, 'Friday':19, 'Saturday':53, 'Sunday':1}
ds = pd.Series(data=restaurant)
ds

Monday       23
Tuesday       8
Wednesday    20
Thursday     38
Friday       19
Saturday     53
Sunday        1
dtype: int64

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

With the created data series, follow the instructions below.

Display the contents of the Series.

Display the total number of restaurant customers.

In [280]:
ds.sum()

162

Display the median number of restaurant customers.

In [281]:
ds.median()

20.0

Display descriptive statistics.

In [282]:
ds.describe()

count     7.000000
mean     23.142857
std      17.601407
min       1.000000
25%      13.500000
50%      20.000000
75%      30.500000
max      53.000000
dtype: float64

Display the list of restaurant customers on business days.

In [283]:
ds['Monday':'Friday']

Monday       23
Tuesday       8
Wednesday    20
Thursday     38
Friday       19
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [284]:
ds['Monday':'Friday'].mean()

21.6

Display the list of restaurant customers on the weekend.

In [285]:
ds['Saturday':'Sunday']

Saturday    53
Sunday       1
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [286]:
ds['Saturday':'Sunday'].sum()

54